<style>
	@media only screen and (max-width: 600px)
	{
		img#main_0_ctl01_ctl00_ImageBrand {
			margin-left: 38% !important;
		}
		div#SpecificModule1 {
			margin-top: 30%;
		}
		select#ddlSecNavMobile {
			background-color: white;
			color: #faa0ce;
		}
		label.sec_nav_select_arrow {
			color: #faa0ce !important;
		}
		.header-blue {			
			font-size: 24px;
		}
		.text-black {
			font-size: 12px;
		}
	}
	@media only screen and (min-width: 601px)
	{
		.header-blue {			
			font-size: 30px;
		}
	}
	a {
		text-decoration: none;
	}
	a.cta-button {
		color: #faa0ce !important;
		padding: 5% !important;
	}
	a.cta-button:hover {
		background-color: #faa0ce !important;
		color: #ffffff !important;
	}
	h2.brandHeader {
		display: none !important;
	}
	#productResultsModule {
		display: none;
	}
	.row {
		margin-bottom: 20px;
	}
	.article-thumbnail {
		max-width: 100%;
		height: auto;
	}
	.header-blue {
		color: #4bbcdd;
		margin-bottom: 15px;	
		display: block;
	}
	.left-image, .right-image {
		display: inline-block;
		width: 48%;
	}
	.left-image {
		margin-right: 10px;
	}
	.text-black {
		color: black;
		margin-bottom: 15px;
		width: 91%;
	}
</style>
<div class="row">
	<p class="header-blue">ARTIKEL <strong>GARNIER MICELLAR WATER</strong></p>
	<p class="text-black">Dapatkan beragam informasi menarik seputar perawatan kulit maupun tips dan trik dari Garnier Micellar Water!</p>
</div>
<div class="row">
	<div class="left-image">
		<a href="http://www.garnier.co.id/garnier-magazine/perawatan-wajah/perawatan-wajah/tips-praktis-kurang-dari-5-menit-untuk-jaga-kulit-tetap-bersih-setelah-naik-ojek" target="_blank">
			<img class="article-thumbnail" height="340" alt="micellar-water-article-6" width="340" src="~/media/6fe92892816c494fb90e99edcd310cde.ashx?la=id-id" />
		</a>
	</div>
	<div class="right-image">
		<a href="http://www.garnier.co.id/garnier-magazine/perawatan-wajah/perawatan-wajah/micellar-water-cara-baru-membersihkan-wajah-yang-praktis" target="_blank">
			<img class="article-thumbnail" height="340" alt="micellar-water-article-5" width="340" src="~/media/cd5adf2e16ad4b02abd2de7e172d01c1.ashx?la=id-id" />
		</a>	
	</div>
</div>
<div class="row">
	<div class="left-image">
		<a href="http://www.garnier.co.id/garnier-magazine/perawatan-wajah/perawatan-wajah/yuk-manfaatkan-me-time-buat-refreshing-setelah-kerja-seharian" target="_blank">
			<img class="article-thumbnail" height="340" alt="micellar-water-article-1" width="340" src="~/media/4494fae0e1594ce19c7858f326cce50f.ashx?la=id-id" />
		</a>	
	</div>
	<div class="right-image">
		<a href="http://www.garnier.co.id/garnier-magazine/perawatan-wajah/perawatan-wajah/tips-membersihkan-wajah-hanya-dengan-sekali-usap-penasaran" target="_blank">
			<img class="article-thumbnail" height="340" alt="micellar-water-article-2" width="340" src="~/media/1ba05c65f55745ee9722fcf419c8038c.ashx?la=id-id" />
		</a>
	</div>
</div>
<div class="row">
	<div class="left-image">
		<a href="http://www.garnier.co.id/garnier-magazine/perawatan-wajah/perawatan-wajah/kulit-menjadi-kering-dan-jerawatan-setelah-liburan" target="_blank">
			<img class="article-thumbnail" height="340" alt="micellar-water-article-3" width="340" src="~/media/4f364b803f464853ae3042cc9db690e9.ashx?la=id-id" />
		</a>
	</div>
	<div class="right-image">
		<a href="http://www.garnier.co.id/garnier-magazine/perawatan-wajah/perawatan-wajah/kebiasaan-sederhana-ini-ternyata-bisa-cegah-jerawat" target="_blank">
			<img class="article-thumbnail" height="340" alt="micellar-water-article-4" width="340" src="~/media/e5a50e44f52f41d8a7e8facd600e8a64.ashx?la=id-id" />
		</a>
	</div>
</div>