<style>
    .header {
        padding: 20px;
        background-color: #cff8ff;
        color: #4bbcdd;
        width: 80%;
    }
    .content {
        padding: 20px;
        padding-bottom: 10px;
        width: 80%;
        background-color: #ffffff;
    }
    .title {
        color: #000000;
        margin-bottom: 5%;
    }
    .sub {
        font-weight: bold;
        color: #faa0ce;
    }
    a.sosmed-link:link, a.sosmed-link:visited {
        font-weight: bold;
        color: #faa0ce;
        text-decoration: none;
    }
    .margin-bottom {
        margin-bottom: 10px;
    }
    .sosmed {
        margin-bottom: 13%;
    }
    .sosmed-img {
        float: left;
        margin-right: 5%;
    }
    .sosmed-text {
        padding-top: 7%;
    }
</style>
<div class="header">
    <h4>LAYANAN KONSUMEN</h4>
</div>
<div class="content margin-bottom">
    <p class="title">Silakan email ke:</p>
    <p class="sub">consumeradvisory@loreal.com</p>
    <br />
    <p class="title">Telepon bebas pulsa:</p>
    <p class="sub">0-800-1-567-325</p>
</div>
<div class="header">
    <h4>IKUTI KAMI</h4>
</div>
<div class="content">
    <div class="sosmed">
        <div class="sosmed-img">
            <a href="https://twitter.com/GarnierID" target="_blank">
                <img height="50" alt="icon-twitter" width="50" src="~/media/73e3134408ac44bd9dd04a6800a350ed.ashx?la=id-id" />
            </a>
        </div>
        <div class="sosmed-text">
            <a class="sosmed-link" href="https://twitter.com/GarnierID" target="_blank">@GarnierID</a>
        </div>
    </div>
    <div class="sosmed">
        <div class="sosmed-img">
            <a href="https://www.facebook.com/Garnier.Indonesia/" target="_blank">
                <img height="50" alt="icon-fb" width="50" src="~/media/5929286de49c4f658c217801f31023a3.ashx?la=id-id" />
            </a>
        </div>
        <div class="sosmed-text">
            <a class="sosmed-link" href="https://www.facebook.com/Garnier.Indonesia/" target="_blank">Garnier.Indonesia</a>
        </div>
    </div>
    <div class="sosmed">
        <div class="sosmed-img">
            <a href=" https://www.instagram.com/garnierindonesia/" target="_blank">
                <img height="50" alt="icon-ig" width="50" src="~/media/80212a8158194b1fa772a76880e9111b.ashx?la=id-id" />
            </a>
        </div>
        <div class="sosmed-text">
            <a class="sosmed-link" href=" https://www.instagram.com/garnierindonesia/" target="_blank">@garnierindonesia</a>
        </div>
    </div>
    <div class="sosmed">
        <div class="sosmed-img">
            <a href="http://www.youtube.com/user/GarnierIndonesia" target="_blank">
                <img height="50" alt="icon-youtube" width="50" src="~/media/e56297d1e85b43219e0ac5a8464f0c2c.ashx?la=id-id" />
            </a>
        </div>
        <div class="sosmed-text">
            <a class="sosmed-link" href="http://www.youtube.com/user/GarnierIndonesia" target="_blank">GarnierIndonesia</a>
        </div>
    </div>
</div>