<style>
@media only screen and (max-width: 600px)
{
	img#main_0_ctl01_ctl00_ImageBrand {
		margin-left: 38% !important;
	}
	div#SpecificModule1 {
		margin-top: 30%;
	}
	select#ddlSecNavMobile {
		background-color: white;
		color: #faa0ce;
	}
	label.sec_nav_select_arrow {
		color: #faa0ce !important;
	}
	.desktop-video {
		display: none;
	}
	.mobile-video {
		display: block;
	}
	.header-blue {
		font-size: 24px;
	}
	.testimonial-instagram {
		display: table;
		height: 150px;
	}
	.text-black {
		font-size: 12px;
	}
}
@media only screen and (min-width: 601px)
{
	.desktop-video {
		display: block;
	}
	.header-blue {
		font-size: 30px;
	}
	.mobile-video {
		display: none;
	}
	.testimonial-instagram {
		display: table;
		height: 250px;
	}
}
a {
	text-decoration: none;
}
a.cta-button {
	color: #faa0ce !important;
	padding: 5% !important;
}
a.cta-button:hover {
	background-color: #faa0ce !important;
	color: #ffffff !important;
}
a.link-sumber, a.link-sumber:visited {
	color: #4bbcdd;
}
h2.brandHeader {
	display: none !important;
}
#productResultsModule {
	display: none;
}
#tab-2, #tab-3 {
	display: none;
}
.description {
	display: block;
}
.header-blue {
	color: #4bbcdd;
	margin-bottom: 15px;
	display: block;
}
.hidden-testimonial {
	display: none;
}
.left-icon, .right-icon {
	color: white;
	cursor: pointer;
}
.left-icon {
	background-color: #eaeaea;
	padding: 5px 9px 5px 5px;
}
.name {
	color: #4bbcdd;
	font-weight: bold;
}
.name, .user-thumbnail {
	display: table-cell;
	vertical-align: middle;
}
.numbering {
	display: block;
	float: right;
}
.page-number, .left-icon, .right-icon {
	display: inline-block;
}
.page-number {
	color: #faa0ce;
	margin-right: 10px;
}
.right-icon {
	background-color: #faa0ce;
	padding: 5px 6px 5px 8px;
}
.row, .testimonial-row {
	margin-bottom: 20px;
}
.sumber {
	color: #4bbcdd;
}
.testimonial-details, .testimonial-image, .testimonial-video {
	display: table-cell;
	vertical-align: middle;
}
.testimonial-details {
	width: 67%;
	padding-left: 20px;
}
.testimonial-image {
	width: 30%;
}
.testimonial-thumbnail, .user-thumbnail, .banner {
	max-width: 100%;
	height: auto;
}
.testimonial-thumbnail {
	display: block;
	margin: auto;
}
.text-black {
	color: black;
	margin-bottom: 10px;
}
.user {
	display: table;
	margin-bottom: 10px;
	height: 34px;
	width: auto;
}
.user-thumbnail {
	margin-right: 10px;
}
</style>
<div class="row">
	<img class="banner" height="200" alt="banner-testimonial" width="680" src="~/media/8b66c00efb624d3aab29780472957a46.ashx?la=id-id" />
</div>
<div class="row">
	<p class="header-blue">TESTIMONI <strong>GARNIER MICELLAR WATER</strong></p>
	<p class="text-black">Apa kata mereka yang telah mencoba Garnier Micellar Water?</p>
</div>
<div class="row">
	<div class="testimonial" id="tab-1">
		<div class="testimonial-row">
			<div class="user">
				<img class="user-thumbnail" height="30" alt="istriloki" width="30" src="~/media/8f71f05ffb6d45dc832d78752945399c.ashx?la=id-id" />
				<p class="name">istriloki</p>
			</div>
			<div class="description">
				<p class="text-black">Very nice and quite affordable. Suka juga dengan sensasi dingin di kulit setiap aku pakai. Lembut untuk kulit sensitif dalam mengangkat debu dan make up ringan. For more cleaner face, lebih baik ditambah oil cleanser di bagian tertentu atau gentle cleanser.</p>
				<p class="sumber">Sumber: <a class="link-sumber" href="http://reviews.Femaledaily.com/makeup-remover/face-62/garnier/micellar-clenasing-water" target="_blank">Femaledaily</a></p>
			</div>
		</div>
		<div class="testimonial-row">
			<div class="user">
				<img class="user-thumbnail" height="30" alt="muthmainah" width="30" src="~/media/86d901155e58443aa7b02038e7fe0e79.ashx?la=id-id" />
				<p class="name">muthmainah</p>
			</div>
			<div class="description">
				<p class="text-black">Pertama kali nyobain micellar water dan langsung suka bgt sama garnier ini, buat aku rasanya emang bener2 ngangkat kotoran di muka bgt dr makeup dan debu2 yang nempel kalo habis keluar rumah.. Sejauh ini suka sm hasilnya dan kalo buat ke mata pun ga ngerasa perih.</p>
				<p class="sumber">Sumber: <a class="link-sumber" href="http://reviews.Femaledaily.com/makeup-remover/face-62/garnier/micellar-clenasing-water" target="_blank">Femaledaily</a></p>
			</div>
		</div>
		<div class="testimonial-row">
			<div class="user">
				<img class="user-thumbnail" height="30" alt="christylingga" width="30" src="~/media/56bfcfc5b285446bb38d7db4385af6ad.ashx?la=id-id" />
				<p class="name">christylingga</p>
			</div>
			<div class="description">
				<p class="text-black">Micellar water pertamaku, biasanya aku selalu pake cream cleanser. Hasilnya memuaskan, awalnya kirain bakalan jerawatan eh ternyata nggak. Kadang masih merasa risih karena belum terbiasa pake micellar water. So far so nice.</p>
				<p class="sumber">Sumber: <a class="link-sumber" href="http://reviews.Femaledaily.com/makeup-remover/face-62/garnier/micellar-clenasing-water" target="_blank">Femaledaily</a></p>
			</div>
		</div>
		<div class="testimonial-row">
			<div class="user">
				<img class="user-thumbnail" height="30" alt="raihanasfr" width="30" src="~/media/e8a08b25e2574041b64ec696ae9028f8.ashx?la=id-id" />
				<p class="name">raihanasfr</p>
			</div>
			<div class="description">
				<p class="text-black">Harusnya namanya miracle water? Pertama kali nyobain ini ternyata pas dibersihin wajahku kotor banget padahal ga keluar rumah sama sekali. Hebat bgt deh ini cleansing. Repurchase? Of course yeessss!!?</p>
				<p class="sumber">Sumber: <a class="link-sumber" href="http://reviews.Femaledaily.com/makeup-remover/face-62/garnier/micellar-clenasing-water" target="_blank">Femaledaily</a></p>
			</div>
		</div>
		<div class="testimonial-row">
			<div class="user">
				<img class="user-thumbnail" height="30" alt="nikencp" width="30" src="~/media/a31ff8d2a4d942e8aa7bf87ee6c29f93.ashx?la=id-id" />
				<p class="name">nikencp</p>
			</div>
			<div class="description">
				<p class="text-black">Menurut aku garnier micellar water ini parah sih. Kenapa? Karena bersihin muka tuntas banget walaupun sebelumnya udah cuci pake facial foam sebersih mungkin dan dia nggak seperti milk cleanser yang hasil akhirnya itu bikin muka jadi blenyek (karena kulitku oily kali ya). Setelah dipake juga ada sensasi dingin dan harganya terjangkau, mudah dicari juga! Luvvv it &lt;3</p>
				<p class="sumber">Sumber: <a class="link-sumber" href="http://reviews.Femaledaily.com/makeup-remover/face-62/garnier/micellar-clenasing-water" target="_blank">Femaledaily</a></p>
			</div>
		</div>
		<div class="testimonial-row">
			<div class="user">
				<img class="user-thumbnail" height="30" alt="elsa_mayasarii" width="30" src="~/media/ade474d547ff4a6a8667eb233261d628.ashx?la=id-id" />
				<p class="name">elsa_mayasarii</p>
			</div>
			<div class="description">
				<p class="text-black">Micellar cleansing water ini juara banget, karena ga mengandung alkohol jadi ga bikin mata perih kalau lagi bersihin maskara, produk ini juga ga bikin kulitku yang kering jadi makin kering, love banget deh sama produk ini &lt;3</p>
				<p class="sumber">Sumber: <a class="link-sumber" href="http://reviews.Femaledaily.com/makeup-remover/face-62/garnier/micellar-clenasing-water" target="_blank">Femaledaily</a></p>
			</div>
		</div>
	</div>
	<div class="testimonial" id="tab-2">
		<div class="testimonial-row">
			<div class="user">
				<img class="user-thumbnail" height="30" alt="agreenita" width="30" src="~/media/475e026bbbd04dbb83ea08d0e9c4b741.ashx?la=id-id" />
				<p class="name">agreenita</p>
			</div>
			<div class="description">
				<p class="text-black">Sejauh ini suka sama micellar cleansing water dari Garnier, karena bisa ngangkat kotoran, minyan, dan debu di wajah. Harganya yang affordable dibandingkan micellar water yang lain membuat aku terus2an untuk repurchase produk ini???</p>
				<p class="sumber">Sumber: <a class="link-sumber" href="http://reviews.femaledaily.com/makeup-remover/face-62/garnier/pure-active-micellar-cleansing-water" target="_blank">Femaledaily</a></p>
			</div>
		</div>
		<div class="testimonial-row">
			<div class="user">
				<img class="user-thumbnail" height="30" alt="citraprtiwi" width="30" src="~/media/caf63a73ccb142d198c55ab779b9bea6.ashx?la=id-id" />
				<p class="name">citraprtiwi</p>
			</div>
			<div class="description">
				<p class="text-black">My favorite micellar water, udah habis 3 botol aja. Dipake tiap hari untuk bersihin daily makeup. Micellar water ini sama sekali ngga ada baunya dan ngga bikin iritasi. Aku suka karna produknya gampang dicari dan bener2 worth to buy.</p>
				<p class="sumber">Sumber: <a class="link-sumber" href="http://reviews.femaledaily.com/makeup-remover/face-62/garnier/pure-active-micellar-cleansing-water" target="_blank">Femaledaily</a></p>
			</div>
		</div>
		<div class="testimonial-row">
			<div class="user">
				<img class="user-thumbnail" height="30" alt="philo" width="30" src="~/media/c2ff9c043f404ab48d381fbcadbef190.ashx?la=id-id" />
				<p class="name">philo</p>
			</div>
			<div class="description">
				<p class="text-black">Dari mulai masuk indo uda mulai pakai ini dan suka dengan kerjanya. Mirip air tapi mampu bersihin debu2 dan kotoran untuk aku yang setiap hari naik ojek online. Formulanya lembut dan gak bikin masalah di kulit wajahku.</p>
				<p class="sumber">Sumber: <a class="link-sumber" href="http://reviews.femaledaily.com/makeup-remover/face-62/garnier/pure-active-micellar-cleansing-water" target="_blank">Femaledaily</a></p>
			</div>
		</div>
		<div class="testimonial-row">
			<div class="user">
				<img class="usert-thumbnail" height="30" alt="arumrlss" width="30" src="~/media/bc0ef26f949c41568eac78742d62bed1.ashx?la=id-id" />
				<p class="name">Arumrlss</p>
			</div>
			<div class="description">
				<p class="text-black">Awal coba langsung jatuh cinta. Waktu dipake buat ngebersihin wajah setelah seharian kerasa banget kotorannya keangkat semua dan aku langsung ngerasa cocok sama yang satu ini wajah aku jadi ga gampang beruntusan terus kalau dibuat ngebersihin makeup ga butuh waktu lama udah keangkat semua pokoknya luv banget deh &lt;3&lt;3</p>
			</div>
		</div>
		<div class="testimonial-row testimonial-instagram">
			<div class="testimonial-image">
				<img class="testimonial-thumbnail" height="750" alt="citraqr-testimonial" width="750" src="~/media/f48150bb8db643449e5cd36f12ed3a0e.ashx?la=id-id" />
			</div>
			<div class="testimonial-details">
				<div class="user">
					<img class="user-thumbnail" height="30" alt="citraqr" width="30" src="~/media/dfb752561c624b1698452182111cc234.ashx?la=id-id" />
					<p class="name">citraqr</p>
				</div>
				<div class="description">
					<p class="text-black">Buat yang males bersihin wajah pake yang minyak2, apalagi ditambah kulit wajah yang kaya kilang minyak kudu cobain ini Garnier Micellar Water Pink, harga sangat2 affordable banget dibanding micellar water merk lain. Kalau ada yang murah dan bagus kenapa harus pilih yang mahal &lt;3&lt;3&lt;3 #garniermicellarwater #makeup #sayangidirimu</p>
					<p class="sumber">Sumber: <a class="link-sumber" href="https://www.instagram.com/p/BaqPSYCnPoS/?tagged=garniermicellarwater" target="_blank">Instagram</a></p>
				</div>
			</div>
		</div>
		<div class="testimonial-row testimonial-instagram">
			<div class="testimonial-image">
				<img class="testimonial-thumbnail" height="1080" alt="deborajuliana-testimonial" width="1080" src="~/media/9f77b8372da94029809bc500ff647dbc.ashx?la=id-id" />
			</div>
			<div class="testimonial-details">
				<div class="user">
					<img class="user-thumbnail" height="30" alt="deborajuliana" width="30" src="~/media/ffaece2f73914a719bc9724a53e759d4.ashx?la=id-id" />
					<p class="name">deborajuliana</p>
				</div>
				<div class="description">
					<p class="text-black">Buat kalian yang suka males atau mager buat cuci muka kalau habis pergi atau pake make up, aku rekomendasiin pembersih muka dari garnier dan itu bagus banget ngangkat semua kotoran di muka dengan cepet (y) #garniermicellarwater</p>
					<p class="sumber">Sumber: <a class="link-sumber" href="https://www.instagram.com/p/BYMi62ElLpq/?tagged=garniermicellarwater" target="_blank">Instagram</a></p>
				</div>
			</div>
		</div>
	</div>
	<div class="testimonial" id="tab-3">
		<div class="testimonial-row testimonial-instagram">
			<div class="testimonial-image">
				<img class="testimonial-thumbnail savale-img" height="750" alt="savale-testimonial" width="750" src="~/media/81b9d34ac1824667b0a4df17f6f6a7d4.ashx?la=id-id" />
			</div>
			<div class="testimonial-details">
				<div class="user">
					<img class="user-thumbnail" height="30" alt="savale" width="30" src="~/media/7d6106edcbc74847bdbcd541b089cbf0.ashx?la=id-id" />
					<p class="name">sa.vale89</p>
				</div>
				<div class="description">
					<p class="text-black">Dulu banget pernah nyoba beberapa produk eye &amp; lip makeup remover, tapi pas dipake buat hapus eye makeup agak sedikit perih dan gak mau pake lagi. Akhirnya lebih milih EVOO atau grapeseed oil buat hapus eye makeup dan lipstick. Terus ada temen yang rekomendasiin Garnier Micellar Water ini. Akhirnya setelah si EVOO habis, mutusin buat nyoba siapa tahu cocok. Liat-liat review juga katanya oke. Dan yang penting ga bikin mata perih. Secara ini mata lho... Ternyata it works really good ^^ aku pake hapus eye makeup yang lumayan thick bersih tanpa perlu kerja keras *ehhh^^, gitu juga pas dipake hapus lip makeup, bahkan lip cream sekalipun. Clean!! Dan yang pasti gak perih di mata.</p>
					<p class="sumber">Sumber: <a class="link-sumber" href="https://www.instagram.com/p/BW9su2ilx0T/?tagged=garniermicellarwater" target="_blank">Instagram</a></p>
				</div>
			</div>
		</div>
		<div class="testimonial-row testimonial-instagram">
			<div class="testimonial-image">
				<img class="testimonial-thumbnail" height="937" alt="chintyalol-testimonial" width="750" src="~/media/c2083d2df2564e969dcc6d0d52510c8c.ashx?la=id-id" />
			</div>
			<div class="testimonial-details">
				<div class="user">
					<img class="user-thumbnail" height="30" alt="chintyalol" width="30" src="~/media/20e10680f7db4f928cc0fb595936dcaf.ashx?la=id-id" />
					<p class="name">chintyalol</p>
				</div>
				<div class="description">
					<p class="text-black">Seneng banget pakai Garnier Micellar Cleansing Water buat bersihin make up gk lebih dari 1 menit.. Bagi kalian yang suka make up aku rekomendasiin pakai Garnier Micellar Cleansing Water dijamin make upnya langsung ilanggg. Makasih Garnier &lt;3&lt;3 #1LangkahBersih pokoknya me time kalian jadi seru!</p>
					<p class="sumber">Sumber: <a class="link-sumber" href="https://www.instagram.com/p/BWSRxnDAH-I/?tagged=garniermicellarwater" target="_blank">Instagram</a></p>
				</div>
			</div>
		</div>
		<div class="testimonial-row testimonial-youtube">
			<div class="testimonial-video">
				<iframe class="desktop-video" width="300" height="169" src="https://www.youtube.com/embed/RmEv0jz2u3I?enablejsapi=1" frameborder="0" gesture="media"></iframe>
				<iframe class="mobile-video" width="250" height="141" src="https://www.youtube.com/embed/RmEv0jz2u3I?enablejsapi=1" frameborder="0" gesture="media"></iframe>
			</div>
			<div class="testimonial-details">
				<div class="user">
					<img class="user-thumbnail" height="30" alt="fatya biya" width="30" src="~/media/c84600c36e9c47558e872c67c244c2fe.ashx?la=id-id" />
					<p class="name">Fatya Biya</p>
				</div>
				<p class="sumber">Sumber: <a class="link-sumber" href="https://www.youtube.com/watch?v=RmEv0jz2u3I&amp;t=46s" target="_blank">Youtube</a></p>
			</div>
		</div>
		<div class="testimonial-row testimonial-youtube">
			<div class="testimonial-video">
				<iframe class="desktop-video" width="300" height="169" src="https://www.youtube.com/embed/SI16l_e5iO4?enablejsapi=1" frameborder="0" gesture="media"></iframe>
				<iframe class="mobile-video" width="250" height="141" src="https://www.youtube.com/embed/SI16l_e5iO4?enablejsapi=1" frameborder="0" gesture="media"></iframe>
			</div>
			<div class="testimonial-details">
				<div class="user">
					<img class="user-thumbnail" height="30" alt="daniella christie" width="30" src="~/media/4679c3de10274c348f9d772da544fb85.ashx?la=id-id" />
					<p class="name">Daniella Christie</p>
				</div>
				<p class="sumber">Sumber: <a class="link-sumber" href="https://www.youtube.com/watch?v=SI16l_e5iO4" target="_blank">Youtube</a></p>
			</div>
		</div>
		<div class="testimonial-row testimonial-youtube">
			<div class="testimonial-video">
				<iframe class="desktop-video" width="300" height="169" src="https://www.youtube.com/embed/kvfDo9nNi9M?enablejsapi=1" frameborder="0" gesture="media"></iframe>
				<iframe class="mobile-video" width="250" height="141" src="https://www.youtube.com/embed/kvfDo9nNi9M?enablejsapi=1" frameborder="0" gesture="media"></iframe>
			</div>
			<div class="testimonial-details">
				<div class="user">
					<img class="user-thumbnail" height="30" alt="khansamanda" width="30" src="~/media/4a4e3e5075a24d49acf8546d23fb9281.ashx?la=id-id" />
					<p class="name">KHANSAMANDA</p>
				</div>
				<p class="sumber">Sumber: <a class="link-sumber" href="https://www.youtube.com/watch?v=kvfDo9nNi9M" target="_blank">Youtube</a></p>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="numbering">
		<p class="page-number"><strong>Page <span id="current-page">1</span></strong> of 3</p>
		<div class="left-icon">◀</div>
		<div class="right-icon">▶</div>
	</div>
</div>